.jogo {
    background:  #9BE5E4
    ;
    height: 100vh;
}

.nuvens {
    width: 200px;

    position: absolute;
    top: 30px;
    left: 50%
}

.pipe {
    width: 50px;

    position: absolute;
    top: 250px;
    left: 50%;
}